{% extends "package_analysis/homepage/homepage_layout.html" %}
{% block body %}
<header class="hero-section text-center py-1">
    <div class="container">
        <h1 style="color: black;">PackGuard.dev</h1>
        <p class="lead" style="color: black;">Your trusted platform for package analysis and malware detection.</p>
    </div>
</header>
<section id="team" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">PhD. Duc-Ly Vu</h5>
                        <p class="card-text">Founder and Lead Researcher</p>
                        <p class="card-text">Duc-Ly is an expert in cybersecurity and software security. He obtained his PhD in Computer Science from the University of Trento, Italy.</p>
                        <a href="https://www.linkedin.com/in/ly-vu-865b5819b" target="_blank" class="btn btn-primary btn-sm">LinkedIn</a>
                        <a href="https://www.lyvu.dev/" target="_blank" class="btn btn-secondary btn-sm">Homepage</a>
                        <p class="mt-3"><a href="mailto:ducly.vu@packguard.dev" class="text-decoration-none">ducly.vu@packguard.dev</a></p>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Thanh-Cong Nguyen</h5>
                        <p class="card-text">Developer</p>
                        <p class="card-text">Thanh-Cong focuses on both backend and frontend development.</p>
                        <p class="mt-3"><a href="mailto:thanh-cong.nguyen@packguard.dev" class="text-decoration-none">thanh-cong.nguyen@packguard.dev</a></p>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Minh-Khanh Vu</h5>
                        <p class="card-text">DevOps Engineer</p>
                        <p class="card-text">Minh-Khanh is responsible for the deployment and scalability of the project.</p>
                        <p class="mt-3"><a href="mailto:minh-khanh.vu@packguard.dev" class="text-decoration-none">minh-khanh.vu@packguard.dev</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
